.pdfSlider_rootContainer
{
    position : relative;
    width : 100%;
    height : 100%;
}

.pdfSlider_rootContainer .pdfSlider_slidesContainer
{
    position: relative;
}

.pdfSlider_rootContainer .pdfSlider_controls
{
    position: relative;
}

.pdfSlider_rootContainer .pdfSlider_button
{
    position : absolute;
    top : 50%;
    background : #333;
    width : 50px;
    height : 50px;
    z-index : 1000;
}
.pdfSlider_rootContainer .pdfSlider_prev
{
    left : 0;
}
.pdfSlider_rootContainer .pdfSlider_next
{
    right : 0;
}

.pdfSlider_rootContainer .pdfSlider_slide
{
    position : absolute;
    top : 0;
    left : 0;
}

.pdfSlider_rootContainer .pdfSlider_slide object
{
    width: 100%;
    height: 100%;
}

.pdfSlider_rootContainer .pdfSlider_close
{
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    width: 20px;
    height: 20px;
    z-index: 2000;
}

.pdfSlider_rootContainer .pdfSlider_activeThumb
{
    background: #000000;
    color: #ffffff;
}